<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/signUp" method="POST">
        <input type="text" id = "name" name = "name" placeholder="Name" required>
        <input type="email" id="email" placeholder="Email" name="email" required>
        <input type="text" id="password" placeholder="Password" name="password" required>
        <input type="text" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" required>
        <button type="submit">Register</button>
    </form>
</body>

</html>